{deps,[
  {elli, "1.0.4"},
  {elli_basicauth, {git, "git://github.com/stylefruits/elli_basicauth.git",
                    {ref, "bc01caf1ae40316971af353988c0bc23d2ca9f6b"}}},
  {jiffy, "0.14.7"},
  {prometheus, "3.0.0-alpha8"},
  {ejsonpath, {git, "git://github.com/ostrovok-team/ejsonpath", {ref, "ccf3055"}}}
]}.

{overrides,
 [{override, jiffy, [
     {plugins, [pc]},
     {artifacts, ["priv/jiffy.so"]},
     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.
