{deps,[
  {elli, "1.0.4"},
  {jiffy, "0.14.7"},
  {ejsonpath, {git, "git://github.com/ostrovok-team/ejsonpath", {ref, "ccf3055"}}}
]}.

{overrides,
 [{override, jiffy, [
     {plugins, [pc]},
     {artifacts, ["priv/jiffy.so"]},
     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.
